VITE_SUPABASE_URL=https://cblbgliuzbeobjiqsend.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNibGJnbGl1emJlb2JqaXFzZW5kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NTI4NjIsImV4cCI6MjA5NDIyODg2Mn0.ojPtNYjsOcIEUl3_IYtTC6IkvkEQt1dlpsSPXNSgbRk